# User-specific stuff
wordleClient/.idea/**/workspace.xml
wordleClient/.idea/**/tasks.xml
wordleClient/.idea/**/usage.statistics.xml
wordleClient/.idea/**/dictionaries
wordleClient/.idea/**/shelf

# Sensitive or high-churn files
wordleClient/.idea/**/dataSources/
wordleClient/.idea/**/dataSources.ids
wordleClient/.idea/**/dataSources.local.xml
wordleClient/.idea/**/sqlDataSources.xml
wordleClient/.idea/**/dynamic.xml
wordleClient/.idea/**/uiDesigner.xml
wordleClient/.idea/**/dbnavigator.xml

wordleClient/out/

wordleServer/.idea
wordleServer/__pycache__/
wordleServer/venv/